* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  background-color: rgb(180, 180, 180);
}
.wrapAll {
  width: 100%;
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
}
.wrap {
  width: 1200px;
  height: 100vh;
  background-color: rgb(231, 231, 231);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerSection {
  width: 1000px;
  height: 100px;
  background-color: white;
  margin-top: 20px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.amount {
  font-size: 2.5rem;
  border-top-left-radius: 15px;
  width: 500px;
  height: 100%;
  background-color: orange;
  color: gold;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}
.addAmount {
  font-size: 1.3rem;
  border-top-right-radius: 15px;
  color: white;
  width: 500px;
  height: 100%;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lato", sans-serif;
}

.addAmount:hover {
  box-shadow: 0 0 5px green;
  /* color: red; */
}

.transactionHeader {
  margin-top: 10px;
  width: 960px;
  height: 60px;
  padding-left: 40px;
  background-color: green;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-family: "Lato", sans-serif;
  color: white;
}

.transaction {
  margin-top: 5px;
  width: 1000px;
  height: 50px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Lato", sans-serif;
}
#image {
  width: 40px;
  /* background-color: green; */
}
#transactionDetail {
  /* background-color: red; */
  width: 300px;
}

#transactionId {
  color: rgb(151, 151, 151);
  /* background-color: yellow; */
  width: 200px;
  font-weight: 700;
}

#trasactionAmound {
  width: 200px;
  /* background-color: red; */
}
.formwrap {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(185, 185, 185, 0.801);
  visibility: hidden;
}

#form {
  width: 350px;
  height: 400px;
  background-color: rgb(255, 255, 255);
  padding: 50px;
  /* color: white; */
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 15px white;
}

#one {
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 0.9rem;
}

#two {
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 9px;
}

#three {
  margin-bottom: 5px;
  font-weight: 500;
}

#currentBlance {
  margin-bottom: 10px;
}

#moneyInput {
  height: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 900;
  font-size: 1.3rem;
}

#submitButton {
  height: 30px;
  font-weight: 900;
}

.cross {
  position: absolute;
  margin-left: 350px;
  margin-top: -30px;
  width: 19px;
  fill: rgb(202, 53, 53);
  cursor: pointer;
}

.cross:hover {
  fill: red;
  width: 24px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
