<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/addPic.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="wrapAll">
      <div class="fields">
        <form action="">
          <label for="productImg1"> Profile Picture :</label>
          <input
            type="file"
            name="Picture1"
            id="productImg1"
            accept="image/png, image/jpeg"
            required
          />
          <button type="submit">submit</button>
        </form>
      </div>
    </div>
  </body>
</html>
