<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/AllSeller.css" />
    <title>Admin</title>
  </head>
  <body>
    <div class="Navigation">
      <div class="inner-Navigation">
        <div id="title">Flash <span>DEAL</span></div>
        <div class="innerlinks">
          <a id="nav-link" href="#">All Product</a>
          <a id="nav-link" href="#">All Seller</a>
          <a id="nav-link" href="#">All User</a>
        </div>
      </div>
    </div>
    <div class="mainBody">

         <div class="Inner-main">
           <div class="contant">
             <div class="SellerImage item"><img src="../static/image/smart watch.webp" alt=""></div>
              <div class="SellerName item">Fake Seller</div>
             <div class="ComponyName item">Scamware</div>
             <div class="Rating">&#9733; &#9733; &#9733; &#9733; &#9734;</div>
             <div class="catagory">Electronics</div>
             <div class="ViewButton item"><a href="#">View</a></div>
             <div class="ReportButton item"><a href="#">Report</a></div>
            <div class="DeleteButton item"><a href="#">Delete</a></div>
           </div>
         </div>

    </div>

  
</html>
