<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
 <style>
     a {
         width: 1000px;
         height: 600px;
         background-color: blue;
     }
 </style>
</head>
<body>
    hello there
    <!-- <button> <a th:href="@{/add_user}"> help</a> </button> -->
    <a th:href="@{/add_user}"> help</a>
    <!-- <p th:text = "${obj.name}">para</p> -->
</body>
</html>