<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="../static/css/SellerProducts.css"
      th:href="@{/css/SellerProducts.css}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap" rel="stylesheet"> 
    <link
    rel="stylesheet"
    href="../static/css/header.css"
    th:href="@{/css/header.css}"
  />

    <title>User Orders</title>
  </head>
  <body>
    <!-- <div
      class="Navigation"
      id="stayAtTop"
      th:include="SellerHeader::SellerHeader"
    ></div> -->
    <div class="header" id="stayAtTop" th:include="header::header"></div>

    <div id="orders">Orders</div>
    <div class="mainBody">
      <div class="Inner-main" th:each="info: ${prouctInfo}">
        <div class="contant">
          <div class="productImage item">
            <img
              src="../static/image/smart watch.webp"
              th:src="@{${info.product.productImgUrl0}}"
              alt=""
            />
          </div>
          <div class="productDetail">
            <span id="productName" th:text="${info.product.productName}"
              >Realme SmartWatch</span
            >
            <span id="catagory" th:text="${info.product.productCate}"
              >SellerProducts</span
            >
            <span id="Seller" th:text="${info.sellerName}" > Realme</span>
          </div>
          <div class="prouctPrice item" th:text="${info.product.productPrice}">&#8377 4999</div>
          <div class="orderStatus">
            <p id = "OrderdOn" >Ordered On</p>
            <p id="date" th:text = "${#temporals.format(info.OrderOn, 'dd-MM-yyyy HH:mm')}"> -12-12-12s-12</p>
            <p id="Ostatus" th:text = "${info.conformation}">item yet to dispatch</p>
          </div>
          
        </div>
      </div>

      <!-- <div class="Inner-main">
          <div class="contant">
            <div class="productImage item"><img src="../static/image/smart watch.webp" alt=""></div>
             <div class="productDetail item">
              <span id="productName">Realme SmartWatch</span>
              <span id="catagory">SellerProducts</span>
              <span id="Seller">Realme</span>
            </div>
            <div class="prouctPrice item">&#8377 4999</div>
            <div class="ViewButton item"><a href="#">View</a></div>
            <div class="ReportButton item"><a href="#">Report</a></div>
           <div class="DeleteButton item"><a href="#">Delete</a></div>
          </div>
        </div> -->
    </div>
    <!-- <div class="indexOuter">
      <div class="index">
        <span th:each="i : ${#numbers.sequence(1,totalPages)}">
          <a
            href="#"
            th:if="${currentPage != i}"
            th:href="@{'/SellerProducts/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}"
            ><div class="indexBlock">[[${i}]]</div></a
          >
          <a href="#" th:if="${currentPage == i}"
            ><div class="indexBlock">[[${i}]]</div></a
          >
        </span>

        <span>
          <a
            href="#"
            th:if="${currentPage < totalPages}"
            th:href="@{'/SellerProducts/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}"
            ><div class="indexBlock">N</div></a
          >
          <a href="#" th:unless="${currentPage < totalPages}"
            ><div class="indexBlock">N</div></a
          >
        </span>

        <span>
          <a
            href="#"
            th:if="${currentPage > 1}"
            th:href="@{'/SellerProducts/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}"
            ><div class="indexBlock">P</div></a
          >
          <a href="#" th:unless="${currentPage > 1}"
            ><div class="indexBlock">P</div></a
          >
        </span>
      </div>
    </div> -->
  </body>
</html>
