<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/userProfile.css">
    <title>Document</title>
</head>
<body>
    <div class="wrapAll">
        <div class="container">
            <div class="left">
                <div class="userImg">
                    <img src="img/85234.png" alt="userImage">
                </div>
               
                <div class="userName">
                    <span>Name</span>
                    <span>UserName</span>
                </div>
                

            </div>
            <div class="right ">

                <div class="wrapBasic">   
                     <h2 id="info">Information :</h2>

                    <div class="basicInfo">
                        <div class="boxContaint">
                            <h3 id="head" >Mobile No</h3>
                            <span>XXXX567304</span>
                        </div>
        
                        <div class="boxContaint">
                            <h3 id="head" >Email</h3>
                            <span>XXXX@XXXX.com</span>
                        </div>
                    </div>
                </div>
             
               
                <h2 id="order" >Your Orders</h2>

                <div class="orders">
                   
                </div>

                
                
            </div>

        </div>
    </div>
</body>
</html>